<div class="uk-container">
    
    <form class="uk-position-center">
        <img src="assets/login.png" alt="" style="width: 200px; height: 200px; margin-left: 10px;">
        <br>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Email">
            </div>
        </div>
    
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Password">
            </div>
        </div>
        <button class="uk-button uk-button-primary" style="width: 100%;">Login</button>
    </form>
</div>
